@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
}

h1, p, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb(28, 54, 68);
}

section {
	margin-left: 10px;
	margin-right: 10px;
}

.logo {
  border-radius: 50%;
  margin-right: 10px;
}

.lightbox {
    max-width: 100%;
    display: block;
	height: auto;
}

.lightbox:hover {
	opacity: 0.5;
}

.grid-sizer,.grid-item {
	width: 50%;
	margin: 0px;
	padding: 0px;
	vertical-align: center;
	padding: 2px;
	margin-bottom:0px;
}

.img-car {
	height: auto;
	max-height: 75%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	outline: black;
}

@media only screen and (min-width:500px){
	.grid-sizer,.grid-item{
	width: 50%;
	margin: 0px;
	padding: 0px;
	vertical-align: center;
	padding: 2px;
	margin-bottom: 0px;
}

	.grid-item--width2 {
	width: 100%;
	margin: 0px;
	padding: 0px;
	vertical-align: center;
	padding: 2px;
	margin-bottom: 0px;
	}

}

@media only screen and (min-width:767px){
	.grid-sizer,.grid-item{
	width:25%;
	margin: 0px;
	padding: 0px;
	vertical-align: center;
	padding: 2px;
	margin-bottom: 0px;
}

	.grid-item--width2 {
	width: 50%;
	margin: 0px;
	padding: 0px;
	vertical-align: center;
	padding: 2px;
	margin-bottom: 0px;
	}

	.grid-item--width3 {
	width: 75%;
	margin: 0px;
	padding: 0px;
	vertical-align: center;
	padding: 2px;
	margin-bottom: 0px;
	}
	

}
